.lista {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
    background-color: rgb(126, 193, 196);
    margin-top: 100px;
    font-size: 25px;
    padding: 35px;
}
.cantidad-carrito {
    background-color: rgb(255, 17, 0);
    color: rgb(247, 247, 247);
    border-radius: 50%;
    border: 2px solid blue;
    width: 30px;
    height: 30px;
    font-size: 16px;
    margin-left: 35px;
    text-align: center;
}
.productos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    box-shadow: 6px 7px 12px #ac6245;
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
}
h3 {
    font-size: 20px;
}

.card > img {
    margin-left: 15px;
    width: 90%;
    height: 250px;
    padding-top: 15px;
    border-radius: 10px;
    align-items: center;
}
.card > img:hover {
    transform: scale(1.2);
    transition: transform 1.2s;
}

.price {
    color: rgb(36, 13, 2);
    font-size: 22px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #221d19;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    border-radius: 10px;
}

.card button:hover {
    background-color: #ffc971;
    color: #e58338;
    opacity: 0.7;
}
.footer {
    background-color: rgb(161, 230, 207);
    padding: 15px;
}
